# Provedor: "openai" ou "gemini"
PROVIDER=openai
DOCUMENTS_PATH=/documents

#OpenAI
OPENAI_API_KEY=coloque_sua_chave_aqui
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_LLM_MODEL=gpt-5-nano

# Gemini
GOOGLE_API_KEY=coloque_sua_chave_aqui
GEMINI_EMBEDDING_MODEL=models/embedding-001
GEMINI_LLM_MODEL=gemini-2.5-flash-lite

# Postgres (pgVector)
PG_USER=postgres
PG_PASSWORD=postgres
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=ragdb
PG_COLLECTION=docs_pdf